body{
    width: 90%;
    background-image: url(../colorful-stingrays.svg);
    background-size: cover;
    max-width: 900px;
    margin: 0 auto;
    font: 0.9em/1.5 "Helvetica Neue", Helvetica ;
}


.box{
    float: left;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(255, 218, 36);
    padding: 1em;
    margin-right: 1rem;

}

.special{
    /* z-index: 5;
    position: absolute; */
    top: 0;
    left: 0;
    background-color: rgb(70, 37, 11);
    padding: 10px;
    color: #fff;
    margin-left: 12rem;
}

ul {
    /* position: fixed; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(214, 158, 17);
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* nav{
    margin-bottom: 5rem;
} */
/* .pic2{
    position: relative;
    z-index: 2;
    right: 7rem;
} */
/* .cleared{
    position: absolute;
    top: 0;
    left: 0;
    clear:left;
} */

li a:hover {
    background-color: black;
}
/* .pic1{
    position: relative;
    bottom: 370px;
    left: 188px;
} */

/* .flex{
    display: block;
    
} */

/* .flex div{
    height: 300px;
    width: 300px;
    flex: 1; 
} */

/* .flex div:nth-child(1){
    float: left;
}

.flex div:nth-child(2){
    float: right ;
} */
/* img{
    float: left;
}
p.move{
    clear: left;
} */